@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #040404;
  color: whitesmoke;
  margin: 0;
}

.active {
  color: #63b3ed;
}

.ql-editor {
  font-size: 1.1rem;
  color: whitesmoke;
}

.quill-placeholder .ql-editor::before {
  color: whitesmoke;
}

.ql-toolbar {
  background-color: rgb(222, 231, 234);
}
